<html>
  <head>
    <title>HI</title>
    <link rel="stylesheet" type="text/css" href="/template/webdeck.css" />
    <link rel="stylesheet" type="text/css" href="/js/css/smoothness/jquery-ui-1.8.7.custom.css" />
    <script type="text/javascript" src="/js/jquery-1.4.4.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.7.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.ipad.altfix.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
  </head>
  <body>
    <div id="not-footer">
    <div id="header">
      <div id="logo">
        <h2>HELLO</h2>
        <span id="subtitle">A deck of cards. On the web.</span>
      </div>
      <div id="loginout">
        <!-- <form>
          Username: <input type="text" /><br />
          Password: <input type="password" /><br />
          <input type="submit" name="login" value="Login" />
        </form> -->
      </div>
      <div style="clear: both"></div>
    </div>
    <div id="content">
      <div id="thetable">
        <h2>The Table</h2>
        <div class="card">
          <img id="card00" src="/img/classic-jokers/card-01.png" />
        </div>
      </div>
    </div>
      <div id="footer-push"></div>
    </div>
    <div id="footer">
      Place cards in your hand here. Nobody can see what cards you have, only how many are face-up and how many are face-down.
    </div>
  </body>
</html>

